/*
  #2ed573 - green
  #2d3436 - dark
  #f1f2f6 - light
  #3742fa - blue
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Gugi',
  cursive;
  background-color: #2d3436;
  color: #dfe6e9;
}
.App{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-content{
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.description{
  width: 500px;
  margin: 20px 0;
}
button{
  width: 200px;
  height: 40px;
  font-size: 21px;
  font-family: 'Gugi',
  cursive;
  color:
  #dfe6e9;
  background: none;
  border: 1px solid #dfe6e9;
  transition: color .7s ease;
  position: relative;
  cursor: pointer;
  z-index: 99;
  overflow: hidden;
}
button:hover{
  color: #2d3436;
}
button::before{
  position: absolute;
  top: 50px;
  left: 0;
  content: '';
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 200px 200px 0 0;
  background-color: #dfe6e9;
  transition: top 1s ease;
  z-index: -1;
}
button:hover::before{
  top: -100px;
}
.exit-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #2d3436;
  border: 1px solid #2d3436;
}
.exit-btn:hover{
  color: #dfe6e9;
}
.exit-btn::before{
  background-color: #2d3436;
}
canvas{
  width: 1000px;
  height: 500px;
}
a{
  text-decoration: none;
}
ul{
  margin: 10px 0;
  list-style-type: none;
}
.download{
  top: 20px;
  left: 20px;
  position: fixed;
  display: block;
  width: 200px;
  height: 40px;
  font-size: 21px;
  border: 1px solid #2d3436;
  color: #2d3436;
}